@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}
body {
	@apply bg-surface-50-900-token leading-relaxed;
}

p {
	@apply leading-relaxed;
}

:root {
	font-size: 18px;
}
